*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppons', sans-serif;
}
body
{
    background-color: #868788;
    background-image: url("../IMAGES/340461 (1).jpg");
    justify-content: center;
    align-items: center;
}
section
{
    position: relative;
    width: 100%;
    height:100vh;
    display:flex;

    justify-content: center;
    align-items: center;
}
section .container
{
    display: flex;   
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 10px;
}
section .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px ;

}
section .imgBx span{
    font-size: 100px;
    color: #000000;
    display: flex;
    position: absolute;
}
/*section .imgBx:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
   /* background: linear-gradient(to right, #000000 10%, #999966 100%);
    z-index: 1;
    mix-blend-mode: screen;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px ;
    
}*/


section .imgBx img     
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px ;

}

section .contentBx
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx
{
width: 80%;
height: 80%;
justify-content: center;
align-items: center;
border-radius: 10px;
}

section .contentBx .formBx h2{
    color:#607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 4px solid #203cdd;
    display: inline-block;
    letter-spacing: 0.2em;
}
section .contentBx .formBx .inputBx
{
    margin-bottom: 20px;
}


section .contentBx .formBx .inputBx span
{
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    
}
div#divGradeCode, div#divGradeDescription
{


    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: red;


}
section .contentBx .formBx .inputBx input,section .contentBx .formBx .inputBx button 
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    background: transparent;
    border-radius: 10px;
}
section .contentBx .formBx .inputBx input#gradeCode
{
    text-transform: uppercase;
}

section .contentBx .formBx .inputBx input#gradeDescription
{
    text-transform: capitalize;
}

section .contentBx .formBx .inputBx input:focus,
section .contentBx .formBx .inputBx input:valid
{
    border-color:#203cdd;
}

section .contentBx .formBx .inputBx button
{
    background: #203cdd;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: 25px;
}

section .contentBx .formBx .inputBx button:hover
{
    background: #05125e;
}

section .contentBx .formBx  .remember
{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;

}

section .contentBx .formBx .inputBx p
{
    color: #607d8b;
}

section .contentBx .formBx .inputBx a
{
    color: #ff4584;
}

section .contentBx .copyright{
    text-align: center;
    justify-content: end;
   

}
section .contentBx .copyright span{
 position: relative;
    bottom: 0;
}
section .contentBx .formBx .inputBx .rButton
{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    background-color: #636363;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;


    /*
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    background-color: #464748;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    left: 10px;
    padding-left: 21px;
    */
}
section .contentBx .formBx .inputBx .rButton input[type=radio]
{

    width: inherit;
    left: 0;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    /*margin-right: 5px;*/
}
section .contentBx .formBx .inputBx .rButton label{
    margin-right: 20px;
    justify-content: center;
    cursor: pointer;
}


@media (max-width: 880px)
{
    section .imgBx 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    section .contentBx 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx
     {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.8);
        margin: 50px;
     
    }
    section .contentBx .formBx .inputBx .rButton
    {
        background: transparent;
    }
    section .contentBx .formBx .inputBx button
    {
        margin-top: 0;
    }

}