<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Management</title>
  <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/CSS/teacherInq.css}">

</head>
<body>
<div class="container mt-5 pb-2 mb-5"  style= "width:90%; height: 500px; align-items: center;">



  <div  class="scrollable">
    <table class="table table-striped table-hover" id="gradeInqTable" name="gradeInqTable" style="background-color: #fff;" >
      <thead>
      <tr>
        <th>Grade Code</th>
        <th>Grade Description</th>
      </tr>
      </thead>
      <tbody id="gradeInqTableBody" name="gradeInqTableBody">
      </tbody>
    </table>
  </div>
</div>

<script src="../JS/bootstrap.bundle.min.js"></script>
</body>
</html>