<!doctype html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teacher Management</title>


  <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/CSS/officerUpdate.css}">
  <!--<script th:src="@{/JS/jquery.min.js}"></script>
      <script th:src="@{/JS/studentJS.js}"></script>-->

</head>
<body class="body">
<div class="mainContainerPage" id="mainContainerPage"></div>

<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row">
      <div class="d-flex col-lg-5 p-0" id="imgCon">
        <img th:src="@{/IMAGES/blurback.jpg}" class="img-fluid" id="conImg">
      </div>
      <div class="col-lg-7">
        <div class="row" id="titleN">
          <h1 class="mt-2">OFFICER DELETE</h1>
        </div>
        <div class="d-flex row" id="searchBar">
          <div class="col" style="width: 50%;">
            <label  class="visually-hidden" for="searchRegNo">RegNo</label>
            <input type="text" onchange="getUniqueOfficerByRegNo()" id="searchRegNo" name="searchRegNo" class="form-control"  placeholder="RegNo">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>

          <div class="col" style="width: 50%;">
            <label class="visually-hidden" for="officerName">Student Name</label>
            <input type="text" disabled id="officerName" name="officerName" class="form-control"  placeholder="Officer Name">
          </div>
          <div class="col-auto">
            <button type="submit" onclick="getUniqueOfficerById()" class="btn btn-primary ">Confirm</button>
          </div>
        </div>

        <form action="">
          <input type="hidden" id="officerId" name="officerId">
          <input type="hidden" id="regNo" name="regNo">
          <div class="row">
            <div class="row m-auto mr-0 pt-3 ">
              <h4 class="head p-1" id="head">Personal Details</h4>
            </div>
            <div class="col my-2">
              <label class="inputLbl"for="firstName">First Name</label>
              <input type="text" id="firstName" name="firstName" disabled class="form-control p-lg-2 "placeholder="First Name">
            </div>
            <div class="col my-2">
              <label class="inputLbl"for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName"  disabled class="form-control p-lg-2 "placeholder="Last Name">
            </div>
          </div>
          <div class="row">
            <div class="col my-2">
              <label class="inputLbl"for="birthDay">Birth Day</label>
              <input type="date" id="birthDay" name="birthDay"  disabled  class="form-control  p-lg-2 "placeholder="Birth Day">
            </div>
            <div class="col my-2">
              <label class="inputLbl"for="attendDate">Attend Date</label>
              <input type="date"  id="attendDate" name="attendDate"  disabled  class="form-control  p-lg-2 "placeholder="Attend Date">
            </div>
          </div>
          <div class="row">
            <div class="col my-2">
              <label class="inputLbl"for="address">Address</label>
              <input type="text"  disabled  class="form-control p-lg-2 " name="address" id="address" placeholder="Address">

            </div>
          </div>

          <div class="row">
            <div class="col my-2">
              <label class="inputLbl"for="dutyType">Duty Type</label>
              <select  disabled class="form-control p-lg-2 "name="dutyType" id="dutyType">
                <option value="null">==SELECT==</option>
                <option value="Checker">Checker</option>
                <option value="Administrator">Administrator</option>
              </select>
            </div>
            <div class="col my-2 ">
              <label class="inputLbl"for="firstName">Gender</label><br>
              <div class="form-check form-check-inline m-1">
                <input class="form-check-input" disabled  type="radio" name="gender" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline m-1">
                <input class="form-check-input"  disabled  type="radio" name="gender" id="female" value="Female">
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="row m-auto pt-3 ">
              <h4 class="head p-1" id="head1">Contact Details</h4>
            </div>
          </div>
          <div class="row">
            <div class="col my-2">
              <label class="inputLbl"for="mobileNumber1">Mobile Number - 1</label>
              <input type="text"  disabled id="mobileNumber1" name="mobileNumber1" class="form-control p-lg-2 "placeholder="Mobile Number - 1">
            </div>
            <div class="col my-2">
              <label class="inputLbl" for="mobileNumber2">Mobile Number - 1</label>
              <input type="text"  disabled  class="form-control p-lg-2 " id="mobileNumber2" name="mobileNumber2" placeholder="Mobile Number - 2">
            </div>
          </div>
          <div class="row  mb-4">
            <div class="col my-2">
              <label class="inputLbl"for="emailAddress">Address</label>
              <input type="email"  disabled  class="form-control p-lg-2 " name="emailAddress" id="emailAddress" placeholder="Email Address">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<script th:src="@{/JS/bootstrap.bundle.min.js}"></script>


<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>
