<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/CSS/teacherInq.css}">
    <script th:src="@{/JS/jquery.min.js}"></script>
    <script th:src="@{/JS/popupSearchJS.js}"></script>

</head>
<body style="background-color: rgb(219, 226, 226)">
<div class="container mt-5 pb-2 mb-5"  style= "width:90%; height: 500px; align-items: center;">
    <form id="popupForm">
    <div class="searchBar" >
        <div class="row" style="border-radius: 0">
            <div class="col pb-2">
                <label for="searchRegNo">RegNo</label>
                <input type="text" name="searchRegNo" id="searchRegNo" class="form-control">
            </div>
            <div class="col pb-2">
                <label for="searchName">Name</label>
                <input type="text"  name="searchName" id="searchName" class="form-control">
            </div>
            <div class="col pb-2">
                <label for="gradeSelect">Grade</label>
                <select name="gradeSelect" onchange="getStudentListByGradeId()" id="gradeSelect" class="form-control">

                </select>
            </div>
            <div class="col pb-2">
                <label for="searchSchool">School</label>
                <input type="text" name="searchSchool" id="searchSchool" class="form-control">
            </div>
        </div>

    </div>


    <div  class="scrollable">
        <table class="table table-striped table-hover" id="inquiryTable" name="inquiryTable"style="background-color: #fff;">
            <thead>
            <tr>
                <th>RegNo</th>
                <th>Name</th>
                <th>School</th>
                <th>Contact</th>
                <th>new</th>

            </tr>
            </thead>
            <tbody id="studentList" name="studentList">

            </tbody>


        </table>
    </div>
    </form>
</div>

<script th:src="@{/JS/bootstrap.bundle.min.js}"></script>


<script>

</script>

</body>
</html>