<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subject Management</title>
  <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/CSS/teacherInq.css}">

</head>
<body>
<div class="container mt-5 pb-2 mb-5"  style= "width:90%; height: 500px; align-items: center;">


  <div  class="scrollable">
    <table class="table table-striped table-hover" style="background-color: #fff;" >
      <thead>
      <tr>
        <th>Subject Code</th>
        <th>Subject Name</th>
      </tr>
      </thead>
      <tbody id="subjectInqTable" name="subjectInqTable">
      </tbody>
    </table>
  </div>
</div>
<script th:src="@{/JS/bootstrap.bundle.min.js}"></script>


</body>
</html>