<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
update page


<!--
<h1 style="color:red" >Update Registration</h1>
<form class="col-100%" th:action="@{/saveNewStudent}" th:object="${student}" method="post">
  <div class="mb-3">
    <div class="row" >
      <div class="col">
        <label>Firs Name</label>
        <input type="text" th:field="*{firstName}" class="form-control" >
      </div>
      <div class="col">
        <label>Last Name</label>
        <input type="text" th:field="*{lastName}" class="form-control" >
      </div>
    </div>
    <div class="row" >
      <div class="col">
        <label>Address</label>
        <input type="text" th:field="*{address}" class="form-control" >
      </div>
      <div class="col">
        <label>Parent Name</label>
        <input type="text" th:field="*{parentName}" class="form-control" >
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <label>Relation Ship</label>
        <input type="text" th:field="*{relationship}" class="form-control" >
      </div>
      <div class="col">
        <label>Mobie Number</label>
        <input type="text" th:field="*{mobileNumber}"   class="form-control" >
      </div>
    </div>
  </div>
  <div class="mb-5">
    <label class="mr-3">Gender</label>
    <div class="form-check form-check-inline ">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1"> Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label " for="inlineRadio2">Female</label>
    </div>

  </div>
  <select class="form-control">
    <option>Default select</option>
  </select>
  <button type="submit" class="btn btn-success "> Update</button>
</form>-->
</body>
</html>